@import './font.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');
.App {
  text-align: center;
  background-color: #f8f8f8;
  font-family: Arial, sans-serif;
}

/* Login Form Styles */
.App-header {
  background-image: url('./components/images/bg.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #5b5c5b;
}
.App-header-login{
  background-image: url('./components/images/loginbj.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #5b5c5b;
}

.page-title{
  color: #d30000;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  font-size: 40px;
}
.signup-title,
.login-title {
  padding: 10px;
  margin-top: 5px;
  font-size: 35px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  animation: fadeInUp 1.5s ease;
}

.signup-title,
.login-title {
  color: #393939; /* Simplified color values */
}

.form-container {
  background-color: #fffbfb;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(60, 58, 58, 0.3);
  max-width: 300px;
   
  opacity: 0.98;
  margin: 0 auto;
  animation: fadeInUp 0.8s ease-in-out;
  
}

.form-group {
  margin-bottom: 20px;
  padding: 0 15px; /* Combined padding */
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  animation: fadeInUp 1.5s ease;
}

input[type="email"],
input[type="text"],
input[type="password"] {
  width: calc(100% - 20px); /* Adjusted width to accommodate padding */
  padding: 10px;
  border: 1px solid #098a00;
  border-radius: 5px;
   /* Added margin for better spacing */
}

button[type="submit"] {
  width: 160px;
  margin-left: 55px;
  margin-right: 55px;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

button[type="submit"]:hover {
  background-color: #893333;
}

p {
  margin-top: 5px;
  padding:25px;
  font-size: 15px;
}

a {
  color: #169200;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Background image */
.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('./components/images/loginbj.jpg'); /* Path to your background image */
  background-size: cover;
  background-position: center;
}


/* Navbar Styles */
/* Navbar Styles */
.navbar {
  background-color: rgba(51, 51, 51, 0.9); /* Adjust the alpha value for transparency */
  color: #fff;
  height: 60px; /* Adjust height as needed */
  width: 100%;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure navbar stays on top */
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease; /* Add transition for background color change */
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}



.navbar .nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar .nav-links li {
  display: inline-block;
  margin-left: 30px;
}

.navbar .nav-links li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  position: relative;
}

.navbar .nav-links li a:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fcfcfc;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.navbar .nav-links li a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.navbar .nav-links li a:hover {
  color: #ff3939;
}

/* Logo Animation */
.logo-container {
  display: inline-block;
  animation: logoAnimation 7s ease-in-out infinite;
  position: relative;
  z-index: 1;
}

@keyframes logoAnimation {
  0% {
    transform: scale(1) rotate(0deg);
  }
  25% {
    transform: scale(1.1) rotate(3deg);
  }
  50% {
    transform: scale(1) rotate(-3deg);
  }
  75% {
    transform: scale(1.1) rotate(3deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}


.animated {
  animation-duration: 8s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}


/* Page Content */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.page-title {
  font-size: 48px;
  margin-bottom: 20px;
}

.video-container {
  margin-top: 20px;
}

.aboutusbtn {
  display: block;
  font-size: 24px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  padding: 10px;
  letter-spacing: 2px;
  transition: all .25s;
  margin: 0 auto; /* Center horizontally */
  width: fit-content; 
  margin-top: 30px;/* Adjust width based on content */
}

.aboutusbtn:hover {
  letter-spacing: 15px;
}

.aboutussection {
  display: block;
  font-size: 24px;
  font-family: sans-serif;
  text-decoration: none;
  color: #000000;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  padding: 10px;
  letter-spacing: 2px;
  transition: all .25s;
  width: fit-content;
  margin-top: 30px;
  margin-left: 35px;
  background: rgba(255, 255, 255, 0.714);
  border-radius: 10px;
}


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');

.quotes {
  --accent-color: rgb(32 32 54);
  --bg-color: rgb(255, 255, 255);
  --dot-color: rgba(0, 0, 0, 0.35);
  --text-color: rgb(0, 0, 0);
  --text-color-author: rgb(253, 27, 27);
  --padding: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: var(--text-color, black);
  background-color: var(--bg-color, white);
  display: grid;
  gap: 1rem;
  background-image: radial-gradient(circle, var(--dot-color, rgb(0 0 0 / .125)) calc(25% - 1px), transparent 25%);
  background-size: 0.5rem 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 0.5rem 0.5rem 2rem rgb(0 0 0 / .5);
  max-width: 25rem;
  margin: auto;
  padding: var(--padding);
}

.quotes::before {
  --qHeight: 4rem;
  content: "";
  margin-left: calc(var(--padding) * -1);
  margin-top: calc(var(--padding) * -1);
  height: var(--qHeight);
  width: calc(var(--qHeight) * 1.1);
  background-image: radial-gradient(circle at bottom right, transparent calc(var(--qHeight) / 4 - 1px), var(--accent-color, black) calc(var(--qHeight) / 4) calc(var(--qHeight) / 2), transparent calc(var(--qHeight) / 2 + 1px)), linear-gradient(var(--accent-color, black), var(--accent-color, black));
  background-size: calc(var(--qHeight) / 2) calc(var(--qHeight) / 2);
  background-position: top left, bottom left;
  background-repeat: space no-repeat;
}

.quotes > .author {
  color: var(--text-color-author, rgb(217, 0, 0));
  background-color: var(--accent-color, black);
  justify-self: end;
  font-size: 0.75em;
  padding: 0.5em 1em;
  border-radius: 0.25rem;
}

.quotes > .author::before {
  content: "-- Muhammad Ali "; 
}

.scroll-animation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: transform 0.7s ease-out;
}

.scrolling-down {
  transform: translateY(-100%);
}

.scrolling-up {
  transform: translateY(0);
}

.workouts-container {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.filter-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.filter-select {
  flex: 1;
  margin-right: 10px;
}

.filter-input {
  flex: 1;
}

.loading {
  text-align: center;
}

.exercise-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}

.exercise-item {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.exercise-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.exercise-name {
  margin-top: 10px;
  font-weight: bold;
}


.calories-counter-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.calories-counter-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  display: block;
}

.form-group input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.mealbtn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #3e3f3e;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.mealbtn:hover {
  background-color: #cc3333; /* Changed to a shade of red */
  transform: translateY(-3px);
}

.meal-plan {
  margin-top: 20px;
}

.meal-plan h3 {
  margin-bottom: 10px;
}

.meal-plan ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.meal-plan li {
  width: calc(33.333% - 20px);
  margin: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.meal-plan li:hover {
  transform: translateY(-5px);
}

.meal-plan li img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.meal-plan li div {
  padding: 15px;
}
